[submodule "turtlebots/mainline"]
	path = turtlebots/mainline
	url = git://github.com/walterbender/turtleart.git
[submodule "turtlebots/turtle-extras"]
	path = turtlebots/turtle-extras
	url = git://github.com/walterbender/turtleextras.git
[submodule "turtlebots/nxt_plugin"]
	path = turtlebots/nxt_plugin
	url = git://github.com/AlanJAS/nxt.git
[submodule "turtlebots/WeDoMore"]
	path = turtlebots/WeDoMore
	url = git://github.com/AlanJAS/WeDoMore.git
[submodule "turtlebots/arduino"]
	path = turtlebots/arduino
	url = git://github.com/AlanJAS/arduino.git
[submodule "turtlebots/pyusb"]
	path = turtlebots/pyusb
	url = git://github.com/walac/pyusb.git
[submodule "turtlebots/rodi"]
	path = turtlebots/rodi
	url = git://github.com/rodibot/rodi-plugin-turtlebots.git
