[submodule "turtlebots/mainline"]
	path = turtlebots/mainline
	url = git://git.sugarlabs.org/turtleart/mainline.git
[submodule "turtlebots/nxt_plugin"]
	path = turtlebots/nxt_plugin
	url = git://git.sugarlabs.org/nxt_plugin/mainline.git
[submodule "turtlebots/WeDoMore"]
	path = turtlebots/WeDoMore
	url = git@github.com:AlanJAS/WeDoMore.git
[submodule "turtlebots/turtle-extras"]
	path = turtlebots/turtle-extras
	url = git://git.sugarlabs.org/turtleart-extras/turtleart-extras.git
[submodule "turtlebots/arduino"]
	path = turtlebots/arduino
	url = git://git.sugarlabs.org/arduino/mainline.git
[submodule "turtlebots/pyusb"]
	path = turtlebots/pyusb
	url = git://github.com/walac/pyusb.git
