Source: turtlebots
Section: main/x11
Priority: optional
Maintainer: Alan Aguiar <alanjas@hotmail.com>
Build-Depends: debhelper (>= 7.4.15), python (>= 2.7.3), libglib2.0-dev, libgstreamer0.10-dev
Standards-Version: 3.9.3
Homepage: http://www.fing.edu.uy/inco/proyectos/butia
#Vcs-Git: git://git.debian.org/collab-maint/turtlebots.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/turtlebots.git;a=summary

Package: turtlebots
Architecture: any
Depends: python-pygame (>= 1.9.1), python-gconf, python-gtk2, ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Conflicts: turtleart (<= 98-1)
Recommends: python-pycurl, libgstreamer0.10-0, python-bluez
Replaces: sugar-activity-turtlebots, sugar-default-activities
Description: TurtleBlocks with Butia, Lego NxT, WeDo, Arduino, FollowMe plugins
 TurtleBots is a modified version of TurtleBlocks, it includes several plugins 
 to manage robotic kits such as Butia Robot, Sumbot, Lego NXT and Lego WeDo,
 Arduino boards. Also includes two plugins for vision: FollowMe and Pattern
 detection.
 If you have another robotic kit feel free to make a new plugin, and if you
 want you can send us the code so we can add your plugin to TurtleBots! :-)
 TurtleBots is part of "Proyecto Butiá" - "Sistema robótico constructivo
 programable de bajo costo para uso educativo" (Programmable, constructive and 
 low cost robotic kit for educational purpose)
