[Desktop Entry]
Name=TurtleBots
Name[es]=TortuBots
GenericName=Sugar TurtleBots activity
GenericName[es]=Actividad Sugar TurtleBots
TryExec=turtlebots
Exec=/usr/share/sugar/activities/TurtleBots.activity/turtleblocks.py
Icon=turtlebots
Type=Application
Comment=TurtleBlocks with robot plugins: Butia, Lego NxT, WeDo, FollowMe
Comment[es]=TurtleBlocks con plugins roboticos: Butia, Lego NxT, WeDo, FollowMe
Terminal=false
Categories=Education;
