Source: turtlebots
Section: main/x11
Priority: optional
Maintainer: Guillermo Reisch <greisch@fing.edu.uy>
Build-Depends: debhelper (>= 8.0.0), liblua5.1-dev
Standards-Version: 3.9.3
Homepage: http://www.fing.edu.uy/inco/proyectos/butia
#Vcs-Git: git://git.debian.org/collab-maint/turtlebots.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/turtlebots.git;a=summary

Package: turtlebots
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: python-pygame (>= 1.9.1)
Conflicts: turtleart (<= 98-1)
Description: TurtleBlocks with robot plugins: Butia, Lego NxT, WeDo, FollowMe
 TurtleBots is a modifiqued version of TurtleBlocks, that include plugins 
 to manage robots kits, this kits include Butia Robot, Sumbot, Lego NXT
 and Lego WeDo. If you have another kit you are free to make a new plugin
 to suport that kill, and if you want... you can send the code sow we add
 your plugin to TurtleBots! :-)
 TurtleBots is part of "Proyecto Butia" - "Sistema robótico constructivo
 programable de bajo costo para uso educativo" (Robotic system programmable
 low cost construction for educational use)
